<div class="container">
  <div class="filter-options">
    <p-button label="Refresh" styleClass="p-button-raised p-button-secondary" (onClick)="onRefresh()"></p-button>
    <div class="card flex dropdown-options">
      <p-dropdown [options]="sortOptions" [(ngModel)]="selectedOptions" optionLabel="name" [showClear]="true" (ngModelChange)="onSortOptionChange()"
        placeholder="Sort by"></p-dropdown>
    </div>
    <h3>Department:</h3>
    <p *ngFor="let option of departmentOptions" (click)="onSelectDepartment(option)" [ngClass]="{selected: option === selectedDepartmentOptions}">{{option}}</p>
  </div>
  <div class="user-card-container">
    <div class="main-area">
      <ng-container *ngFor="let user of userList">
        <app-user-card [userNameInput]="user.name" [userBusinessUnit]="user.business_unit" [userDepartment]="user.department"
          [userAge]="user.age"></app-user-card>
      </ng-container>
    </div>
  </div>
</div>