::ng-deep {
    .user-card {
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
        gap: 5px;
        flex-direction: column;
        padding: 5px;
        background-color: #1a2430;
    }
}